generated_cards/
__pycache__/
*.csv
.DS_Store
venv/*
.venv/*
*.pickle
credentials.json
.vscode/
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json